/* Left menu*/
ul.left-menu {list-style:none;margin:0; padding:0;position: relative;width:100%;display:block;height:100%;overflow:hidden;}
ul.left-menu li {width:100%;height:15%;display:block;clear:both;overflow:hidden;}
ul.left-menu li.first {margin-top:10%;}
ul.left-menu li a {text-align:center;display:block;width:80%;margin:auto;text-decoration:none;
font-size:16px;text-transform:uppercase;height:100%;color:#222222;background:url('images/bgli.png') 0 100% repeat-x;padding-left:5px;}
ul.left-menu li a:hover, ul.left-menu li a.selected {border-left:5px solid #72d3bb;color:#72d3bb;padding-left:0;}