.mlife_serv_list {width:100%;clear:both;display:block;}
.mlife_serv_list .servitem {width:100%;clear:both;margin:5px 0;border-bottom:1px solid #72d3bb;padding: 5px 0;overflow:hidden;}
.mlife_serv_list .servitem .serv_right {width:55%;float:right;display:block;margin-right:2%;}
.mlife_serv_list .servitem .imager {width:40%;clear:both;display:block;padding:3px 0;text-align:center;float:left;}
.mlife_serv_list .servitem .imager img {max-width:98%;display:block;height:auto;margin:auto;}
.mlife_serv_list .servitem .titler {width:100%;clear:both;padding:3px 0;text-align:center;font-size:18px;line-height:22px;text-transform:uppercase;}
.mlife_serv_list .servitem .titler a {text-decoration:none;color:#222222;}
.mlife_serv_list .servitem .titler a:hover {color:#72d3bb;}
.mlife_serv_list .servitem .textor {font-size:12px;text-transform:uppercase;line-height:16px;width:100%;clear:both;padding:3px 0;text-align:center;}
.mlife_serv_list .servitem .textor p {padding-bottom:8px;}