.mfeedback {width:96%;clear:both;display:block;margin:auto;}
.mfeedback .mf-name {width:48%;float:left;display:block;padding:5px 0;}
.mfeedback .mf-email {width:48%;float:right;display:block;padding:5px 0;}
.mfeedback .mf-message {clear:both;display:block;width:100%;padding:5px 0;}
.mfeedback .mf-name .mf-text, .mfeedback .mf-email .mf-text, .mfeedback .mf-message .mf-text {width:100%;clear:both;display:block;text-transform:uppercase;font-size:12px;padding-bottom:5px;}
.mfeedback .mf-name input, .mfeedback .mf-email input {border:1px solid #888888;color:#888888;padding:5px;font-size:16px;width:100%;}
.mfeedback .mf-message textarea {border:1px solid #888888;color:#888888;padding:5px;font-size:16px;width:100%;resize:none;height:150px;}
.mfeedback input.button {width:30%;margin:auto;clear:both;display:block;padding:10px;font-size:16px;text-transform:uppercase;background:#dbd9d9;border:1px solid #888888;color:#535353;margin-top:10px;}
.mfeedback input.button:hover {background:#72d3bb;cursor:pointer;}
.mfeedback .mf-ok-text {width:100%;padding:10px 0;color:#72d3bb;text-align:center;display:block;clear:both;text-transform:uppercase;}
.mfeedback .mf-captcha {width:100%;clear:both;display:block;text-align:center;}
.mfeedback .mf-captcha .mf-text {width:100%;clear:both;display:block;text-transform:uppercase;font-size:12px;padding-bottom:5px;padding-top:10px;text-align:center;}
.mfeedback .mf-captcha input {border:1px solid #888888;color:#888888;padding:5px;font-size:16px;width:40%;text-align:center;}