#mes {height:100%;position:absolute;z-index:20;display:none;/*background:url('images/block_bg.png') 0 0 repeat;*/top:0;width:100%;}
#mes div {top:0px;margin-left:40%;position:absolute;width:128px;height:152px;text-align:center;color:#3f2513;font-size:16px;}

#mlifeGalerysq img {display:block;margin:auto;
-moz-transition: all 300ms linear 200ms;
-webkit-transition: all 300ms linear 200ms;
-o-transition: all 300ms linear 200ms;
transition: all 0.3s cubic-bezier(0, 0, 1, 1) 0.2s;
min-height: 125px;
height: auto;
max-width: 100%;
min-width: 100%;
width: auto;
}
#mlifeGalerysq img:hover {
-moz-transition: all 300ms linear 200ms;
-webkit-transition: all 300ms linear 200ms;
-o-transition: all 300ms linear 200ms;
transition: all 0.3s cubic-bezier(0, 0, 1, 1) 0.2s;
-moz-transform: scale(1.5);
-webkit-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
}

#mlifeGalerysq .varticalGalerysq, #mlifeGalerysq .mlifeGalerysq_wrapfoto, #mlifeGalerysq .horizontalGalerysq {float:left;overflow:hidden;}
.navGalerysq {width:100%;clear:both;display:block;}
.navGalerysq p {display:inline;float:left;margin:10px;font-size:14px;text-transform:uppercase;}
.navGalerysq {overflow:hidden;}