.mlife_blog_list {width:100%;clear:both;display:block;}
.mlife_blog_list .blogitem {width:100%;clear:both;margin:5px 0;border-bottom:1px solid #72d3bb;padding: 5px 0}
.mlife_blog_list .blogitem .date {width:100%;display:block;clear:both;font-size:14px;text-align:center;color:#72d3bb;padding:3px 0;}
.mlife_blog_list .blogitem .imager {width:100%;clear:both;display:block;padding:3px 0;text-align:center;}
.mlife_blog_list .blogitem .imager img {max-width:98%;display:block;height:auto;margin:auto;}
.mlife_blog_list .blogitem .titler {width:100%;clear:both;padding:3px 0;text-align:center;font-size:18px;line-height:22px;}
.mlife_blog_list .blogitem .titler a {text-decoration:none;color:#222222;}
.mlife_blog_list .blogitem .titler a:hover {color:#72d3bb;}
.mlife_blog_list .blogitem .textor {font-size:12px;text-transform:uppercase;line-height:16px;width:100%;clear:both;padding:3px 0;text-align:center;}
.mlife_blog_list .blogitem .textor p {padding-bottom:8px;}
.mlife_blog_list .blogitem .readmorer {width:100%;margin:auto;clear:both;display:block;padding:3px 0;}
.mlife_blog_list .blogitem .readmorer a {background:#dbd9d9;display:block;width:99%;margin:auto;text-align:center;padding:7px 0;text-decoration:none;color:#535353;border:1px solid #535353;text-transform:uppercase;}
.mlife_blog_list .blogitem .readmorer a:hover {background:#72d3bb;border:1px solid #72d3bb;}