.blog_detail {width:100%;display:block;clear:both;}
.blog_detail .date {width:100%;display:block;clear:both;font-size:14px;text-align:center;color:#72d3bb;padding:3px 0;}
.blog_detail .imager {width:100%;clear:both;display:block;padding:3px 0;text-align:center;}
.blog_detail .imager img {max-width:98%;display:block;height:auto;margin:auto;}
.blog_detail .textor {display:block;width:100%;clear:both;padding:5px 0;}