/* Zahalski Andrew (mlife_development@mail.ru) */

/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.0;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

html {font-size:100.01%;height:100%;}
body {font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;font-size:14px;background:#bdbdbd;color:#222222;overflow-y:auto;height:100%;}
*:first-child+html body {overflow-y:hidden;}
a {color:#72d3bb;text-decoration:underline;outline:none;}
a:hover {color:#000000;}
.clear {clear:both;}

#site {width:100%;min-height:900px;height:100%;min-width:1000px;display:block;overflow:hidden;overflow-y:auto;}
#site .wp {width:2200px;display:block;background:#000000;min-height:900px;height:100%;overflow:hidden;}
#site .wp .wrapcolleft {width:666px;float:left;display:block;overflow:hidden;}
#site .wp .wrapcolright {width:666px;float:left;display:block;overflow:hidden;}
#site .wp .bg1 {width:331px;height:333px;float:left;overflow:hidden;margin:1px;}
#site .wp .bg1 img {width:100%;min-height:100%;height:auto;margin:0px;}

#site .wp .mainContur {width:1000px;min-height:700px;height:100%;display:block;float:left;}
#site .wp .mainContur .bg1 {background:url('images/bg.jpg') repeat;}
#site .wp .mainContur .bg1 img {width:100%;min-height:100%;height:auto;margin:0px;}
#site .wp .mainContur .logo {width:100%;height:100%;display:block;line-height:100%;text-align:center;}
#site .wp .mainContur .logo img {width:80%;height:auto;min-height:0;margin:10%;}

#site .wp .bg1 .sociallink {display:block;overflow:hidden;clear:both;margin:auto;width:214px;margin-top:40%;}
#site .wp .bg1 .sociallink a {display:block;float:left;margin:0 10px;background:url('images/social_sprite.png') 0 0 no-repeat;}
#site .wp .bg1 .sociallink a span {display:none;}
#site .wp .bg1 .sociallink a.odnoklasniki {width:58px;height:42px;background-position: 0 0;}
#site .wp .bg1 .sociallink a.odnoklasniki:hover {background-position: 0 100%;}
#site .wp .bg1 .sociallink a.facebook {width:17px;height:42px;background-position: -84px 0px;margin-left:2px;}
#site .wp .bg1 .sociallink a.facebook:hover {background-position: -84px 100%;}
#site .wp .bg1 .sociallink a.vkontakte {width:25px;height:42px;background-position: -145px 0px;}
#site .wp .bg1 .sociallink a.vkontakte:hover {background-position: -145px 100%;}
#site .wp .bg1 .sociallink a.twitter {width:41px;height:42px;background-position: -207px 0px;}
#site .wp .bg1 .sociallink a.twitter:hover {background-position: -207px 100%;}

#site .wp .bg1 .mlife {clear:both;margin:auto;margin-top:35%;}
#site .wp .bg1 .mlife img {float:left;display:block;width:35px;margin:5px 5px 5px 10px;min-height:0;max-height:none;}
#site .wp .bg1 .mlife a {display:block;float:left;text-decoration:none;color:#545454;font-size:10px;line-height:12px;}

#site .wp .mainContur .wrapvn {float:left;display:block;height:100%;overflow:hidden;}
#site .wp .mainContur .wrapvnright {float:left;display:block;background:#e8e8e8;height:100%;overflow:hidden;overflow-y:auto;margin:1px;}
#site .wp .mainContur .wrapvnright .mlifecont {width:98%;margin:10px auto;}
#site .wp .mainContur .wrapvnright .mlifecont h1 {width:90%;margin:auto;clear:both;line-height:25px;display:block;text-align:center;text-transform:uppercase;background:url('images/h1.png') center bottom no-repeat;font-size:20px;color:#585858;padding-bottom:15px;}
#site .wp .mainContur .wrapvnright .mlifecont .text {display:block;width:100%;clear:both;overflow:hidden;margin-top:20px;line-height:16px;font-size:14px;position:relative;padding-bottom:10px;}
#site .wp .mainContur .wrapvnright .mlifecont .text p {margin-bottom:15px;}
#site .wp .mainContur .wrapvnright .mlifecont .text img {min-height:0;max-height:none;max-width:95%;height:auto;}
#site .wp .mainContur .wrapvnright .mlifecont .text #mlifeGalerysq img {min-height: 125px;height: auto;max-width: 100%;min-width: 100%;width: auto;}
#site .wp .mainContur .wrapvnright .mlifecont .text #mlifeGalerysq {width:564px;margin:auto;}
#site .wp .mainContur .wrapvnright .mlifecont .text .navGalerysq p {padding-bottom:0;}
#site .wp .mainContur .wrapvnright .mlifecont .text .navGalerysq p a {text-decoration:none;color:#222222;}
#site .wp .mainContur .wrapvnright .mlifecont .text .navGalerysq p a:hover, #site .wp .mainContur .wrapvnright .mlifecont .text .navGalerysq p a.active {color:#72d3bb;}
#site .wp .mainContur .wrapvnright .mlifecont .text .text {padding:0;width:auto;height:auto;margin:0;}

